Source: opencore-amr
Section: libs
Priority: optional
Maintainer: Debian multimedia packages maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Martin Storsjö <martin@martin.st>,
           Andres Mejia <mcitadel@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Vcs-Git: git://git.debian.org/git/pkg-multimedia/opencore-amr.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/opencore-amr.git;a=summary

Package: libopencore-amr-nb-dev
Architecture: any
Section: libdevel
Depends: libopencore-amr-nb (= ${binary:Version}), ${misc:Depends}
Description: Adaptive Multi Rate speech codec - development files
 This library contains an implementation of the 3GPP TS 26.073 specification for
 the Adaptive Multi Rate (AMR) speech codec. The implementation is derived from
 the OpenCORE framework, part of the Google Android project.
 .
 This package contains the files necessary for development.

Package: libopencore-amr-nb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Adaptive Multi Rate speech codec - shared library
 This library contains an implementation of the 3GPP TS 26.073 specification for
 the Adaptive Multi Rate (AMR) speech codec. The implementation is derived from
 the OpenCORE framework, part of the Google Android project.
 .
 This package contains the encoder/decoder shared library.

Package: libopencore-amr-wb-dev
Architecture: any
Section: libdevel
Depends: libopencore-amr-wb (= ${binary:Version}), ${misc:Depends}
Description: Adaptive Multi-Rate - Wideband speech codec - development files
 This library contains an implementation of the 3GPP TS 26.173 specification for
 the Adaptive Multi-Rate - Wideband (AMR-WB) speech decoder. The implementation
 is derived from the OpenCORE framework, part of the Google Android project.
 .
 This package contains the files necessary for development.

Package: libopencore-amr-wb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Adaptive Multi-Rate - Wideband speech codec - shared library
 This library contains an implementation of the 3GPP TS 26.173 specification for
 the Adaptive Multi-Rate - Wideband (AMR-WB) speech decoder. The implementation
 is derived from the OpenCORE framework, part of the Google Android project.
 .
 This package contains the decoder shared library.
