#!/usr/bin/make -f

CXXFLAGS = -Wall -g $(DEB_CXXFLAGS)
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CXXFLAGS += -O2
else
    CXXFLAGS += -O0
endif
$(info DEB_BUILD_OPTIONS = $(DEB_BUILD_OPTIONS))
$(info CXXFLAGS = $(CXXFLAGS))

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

override_dh_strip:
	dh_strip -plibopencore-amrnb0 --dbg-package=libopencore-amrnb0-dbg
	dh_strip -plibopencore-amrwb0 --dbg-package=libopencore-amrwb0-dbg
